<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS -->
    <link rel="stylesheet" href="../styles/styles.css" />
    <title>Visit Norway</title>
  </head>
  <body>
    <div class="banner">
      <button class="btn">Start</button>
      <h1>Explore.</h1>
    </div>
    <div class="content">
      <div class="text">
        <h1>Visit Norway</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
          ducimus, dolore deleniti dolor ex ad illo saepe blanditiis impedit
          voluptas, quasi, culpa atque iusto quaerat dicta quae enim quos amet.
        </p>
      </div>
      <div class="card-container">
        <div class="card">
          <img src="../images/card1.jpg" alt="landscape 1" />
          <div class="card-text">
            <h2>Card 1</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Praesentium, illum.
            </p>
          </div>
        </div>
        <div class="card">
          <img src="../images/card2.jpg" alt="landscape 2" />
          <div class="card-text">
            <h2>Card 2</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Praesentium, illum.
            </p>
          </div>
        </div>
        <div class="card">
          <img src="../images/card3.jpg" alt="landscape 3" />
          <div class="card-text">
            <h2>Card 3</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Praesentium, illum.
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
